body {
  font-family: "TRY Vesterbro", sans-serif;
}

@font-face {
  font-family: "TRY Vesterbro";
  src: url("/fonts/TRYVesterbro-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TRY Vesterbro";
  src: url("/fonts/TRYVesterbro-Extrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TRY Vesterbro";
  src: url("/fonts/TRYVesterbro-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TRY Vesterbro";
  src: url("/fonts/TRYVesterbro-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TRY Vesterbro";
  src: url("/fonts/TRYVesterbro-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TRY Vesterbro";
  src: url("/fonts/TRYVesterbro-Poster.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
